body{
    margin: 0;
    padding: 0;
    text-align: center;
    background:linear-gradient(to right,#995cd7,#1368a9);
}
ul{
    list-style: none;
    display: flex;
    left: 80px;
    justify-content: center;
}
li a{
    text-decoration: none;
    color: rgb(199, 151, 231);
    background: rgb(87, 9, 119);
    padding: 20px;
    border-radius: 10px;
}
li{
    padding: 20px;
    color: rgb(251, 172, 216);
}
footer{
    background-color: rgb(147, 173, 240);
    text-align: center;
}
img{
    width: 500px;
    height: 300px;
    
}
.card{
    background: #f4c3ff;
    padding: 20px;
    border-radius: 15px;
    width: 300px;
    margin: auto;
    box-shadow: 20px 20px 50px #d8b4ff;
}
button{
    background-color: #73a2ec;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor:pointer;
    border-radius: 10px;
}
button:hover{
    background: #e88dd9;
}
.form-box{
    background: rgb(175, 223, 234);
    padding: 20px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    margin: 20px auto;

}
#contactform{
    margin: auto;
    text-align: center;
}
#resulttable{
    margin: 20px auto;
    text-align: center;
    border: 2px solid rgb(159, 222, 188);
}